@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  font-family: 'Poppins', sans-serif;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightskyblue;
  border: none;
  padding: 15px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgb(87, 83, 83);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 40px;
}
